@import '~assets/styles/variables';

.main {
  display:flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  overflow: auto;
  padding: 16px 24px 0px 24px;

  .general {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $gray-dark;
    display: flex;
    padding: 0 12px;
    height: 60px;
    align-items: center;
    transition: all 0.3s;
    background-color: $white;
    cursor: pointer;
    border-bottom: 1px solid $gray-light;

    & > span {
      flex-grow: 1;
    }

    & > svg {
      font-size: 16px;
      color: $gray;
    }

    &:first-child {
      margin-bottom: 24px;
      border-radius: 10px;
    }

    &:nth-last-child(2) {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom: 0;
    }

    &:last-child {
      margin-top: 24px;
      border-radius: 10px;
      border-bottom: 0;
    }

    &:hover {
      background: $gray-light-100;
    }
    
    .icon {
      color: $gray-dark;
    }
    .arrow {
      color: $black;
    }

  }
  .footer {
    display: flex;
    flex-grow: 0.6;
    align-items: center;
    justify-content: center;
  }
  
}

