@import '~assets/styles/variables';

.privateKeyContainer {
  margin-top: 32px;
}

.dropdownContainer {
  height: 64px;
  margin-bottom: 24px;
  margin-top: 8px;
}

.phraseContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 18px 12px;
  border: 1px solid $gray_300;
  border-radius: 8px;
  background-color: $white;
  margin-top: 8px;
  width: 328px;
}

.privateKeyText {
  word-break: break-all;
}

.showPointer {
  cursor: pointer;
}

.copyContainer {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px 0px;
  margin-bottom: 20px;
}

.copyText {
  color: $new_primary_lighter_1;
}

.buttonContainer {
  display: flex;
}

.doneButton {
  background-color: $new-primary;
  width: 100%;
}
