@import '~assets/styles/variables';

.wrapper {
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  background-color: $primary;
  overflow: auto;
  width: 100%;
  height: 520px;

  .mask {
    transition: all 0.3s;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: $purple;
    opacity: 1;
    backdrop-filter: blur(0px);

    .loader {
      width: 60px;
      height: 60px;
      transition: all 300ms;
      opacity: 1;

      svg {
        color: $white;
      }
    }

    &.hide {
      opacity: 0;
      backdrop-filter: blur(10px);
      align-items: center;
      justify-content: center;

      & .loader {
        opacity: 0;
      }
    }
  }

  section.account {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid $gray-100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $gray-dark;
    position: relative;

    & > .status {
      position: absolute;
      display: flex;
      flex-direction: row;
      left: 12px;
      font-size: 12px;
      font-weight: 500;
      align-items: center;
      color: $gray-100;

      svg {
        color: $gray-100;
        margin-right: 6px;
      }

      &.connected {
        svg {
          color: $purple;
        }
      }
    }

    & > small {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.03em;
      line-height: 24px;
      color: $gray;
      position: relative;

      .copy {
        position: absolute;
        right: -38px;
        bottom: 1px;
        width: 24px;
        height: 24px;

        .icon {
          height: 18px;
          width: auto;
        }
      }
    }
  }

  section.center {
    display: flex;
    width: 100%;
    height: 160px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .price {
      display: flex;
      justify-content: center;
      align-items: center;
      .balance {
        margin-left: 8px;
        margin-right: 8px;
        .balanceText{
          overflow: hidden;
          max-width: 200px;
        }
      }
    }
    .bitcoinBalance{
      opacity: 0.5;
    }
  }

  section.activity {
    display: flex;
    flex: 1;
    min-height: 350px;
    flex-direction: column;
    background: $grey-50;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
    border-radius: 8px 8px 0px 0px;
    
    .content {
      margin: 16px;
    }

    .spinner {
      svg {
        color: $white;
      }
    }

    &.expanded {
      height: 528px;
      z-index: 3;
    }

    .stargazer {
      user-select: none;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      opacity: 0.6;
      position: sticky;
      bottom: 0;
    }

    .noTxComment {
      padding: 12px 36px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $gray-dark;
    }

    .heading {
      box-sizing: border-box;
      display: flex;
      background: $gray-light;
      border-bottom: 1px solid $gray-100;
      position: sticky;
      top: 0;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-weight: bold;
      font-size: 18px;
      line-height: 60px;
      width: 100%;
      color: $gray-dark;
      z-index: 2;

      .addAssets {
        width: 40px;
        font-size: 24px;
        height: 40px;
        position: absolute;
        left: 34px;
        background: $gray-light-100;
        color: $gray-dark;

        svg {
          width: 26px;
          height: 26px;
        }
      }

      .buydag {
        position: absolute;
        left: 20px;
        box-shadow: none !important;

        .buydagIcon {
          width: 48px;
          height: 48px;
          background: url('../../../assets/images/svg/buy-dag-purple.svg');
          transition: all 0.3s;

          &:hover {
            background: url('../../../assets/images/svg/buy-dag-green.svg');
          }
        }
      }

      .goTop {
        width: 26px;
        font-size: 16px;
        height: 26px;
        position: absolute;
        right: 36px;
      }
    }

    ul {
      margin: 0px;
      padding: 0px;
      width: 100%;
      list-style: none;
      position: relative;
      z-index: 1;
      flex-grow: 4;
    }
  }
}

:global([data-scrollbar='true']) {
  width: 100%;
}
