@import '~assets/styles/variables';

.container {
  display: flex;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
}

.maxHeightBottomBar {
  max-height: 460px;
}

.maxHeight {
  max-height: 520px;
}

.extraLight {
  background-color: $white;
}

.grayLight300 {
  background-color: $gray-light-300;
}

.light {
  background-color: $gray-light;
}

.dark {
  background-color: $primary;
}
