@import '~assets/styles/variables';

.wallets {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: $gray-50;
  height: 460px;
  overflow: auto;

  label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    display: block;
    color: $secondary-text;
    font-family: $inter;
  }

  .section {
    margin-top: 20px;
  }

  .group {
    .wallet {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      font-family: $inter;
      color: $gray-dark;
      display: flex;
      padding: 0 16px;
      height: 62px;
      align-items: center;
      transition: all 0.3s;
      background-color: $white;
      cursor: pointer;
      border: 1px solid $gray-300;
      border-bottom-width: 0px;
      position: relative;

      .walletIcon {
        display: flex;
        height: 40px;
        width: 40px;
        margin-right: 12px;
        background-color: $gray-light;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
      }

      & > span {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        line-height: 20px;
        color: $black;
        font-family: $inter;

        small {
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          color: $secondary-text;
          width: 204px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: $inter;
          opacity: 0.88;
        }
      }

      & > svg {
        font-size: 24px;
        color: $primary;

        &.check {
          position: absolute;
          left: 34px;
          top: 10px;
          font-size: 16px;
          color: $accent_1;
          background-color: $white;
          border-radius: 8px;
        }
      }

      &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-width: 1px;
      }

      &:hover {
        background: $gray-light-100;
      }
    }
  }
}
