@import '~assets/styles/variables';

.wrapper {
  width: 100%;
  overflow: auto;
  padding: 0 24px;
  height: calc(100% - 132px);
  box-sizing: border-box;
  position: relative;

  label {
    font-size: 10px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 12px;
    display: block;
    text-transform: uppercase;
  }

  .input {
    border: 1px solid $gray-200 !important;
  }

  & > span {
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: 12px;
    font-weight: 500;
    display: block;
  }

  .menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $gray-dark;
    height: 24px;
    display: flex;
    padding: 0 12px;
    height: 60px;
    align-items: center;
    transition: all 0.3s;
    background-color: $white;
    cursor: pointer;
    border-bottom: 1px solid $gray-light;
    border-radius: 6px;

    & > span {
      flex-grow: 1;
    }

    & > svg {
      font-size: 16px;
      color: $gray;
    }

    &:hover {
      background: $gray-light-100;
    }
  }

  .actions {
    position: absolute;
    bottom: 24px;
    padding: 0 12px;
    width: calc(100% - 48px);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;

    .cancel,
    .cancel:hover {
      background: $gray-light;
      color: $gray-dark;
    }

    .button {
      width: 144px;
    }
  }
}
