@import '~assets/styles/variables';
/* 
* Base Styles
*/

.base {
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  border: 0px solid transparent;
  span {
    flex: 1;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: 0 0 0;
  }
}

.textContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.iconLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-right: 8px;
}

.iconRight {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: 8px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* 
* Button Sizes Style
*/

.buttonSmall {
  height: 32px;
  border-radius: 20px;
}

.buttonMedium {
  height: 40px;
  border-radius: 22px;
}

.buttonLarge {
  height: 48px;
  border-radius: 24px;
}

.buttonFillWidth {
  height: 48px;
  width: 100%;
  border-radius: 24px;
}

/* 
* Button Background Color Style
*/

.primaryButton {
  background-color: $primary;
}

.primaryOutlineButton {
  border: 1px solid $primary_lighter_1;
  background-color: transparent;
}

.secondaryButton {
  background: linear-gradient(180deg, #7150E2 0%, #4B22D3 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.secondaryOutlineButton {
  background-color: transparent;
}

.accentOneButton {
  background-color: $accent_1;
}

.tertiarySolid {
  background-color: $gray-300;
}

.graySolid {
  background-color: $gray-500;
}

.newPrimarySolid {
  border: 1px solid rgba(255, 255, 255, 0.24);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  background-color: #583dde;
}

.errorSolid {
  background-color: $red-700;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.loader {
  width: 100%;
  align-self: center;
  transition: all 300ms;
  opacity: 1;
}
