@import '~assets/styles/variables';

.buttonRight {
  color: white;
  &.more {
    margin-right: 24px;
  }
}
.linkIcon {
  display: flex;
  align-items: center;
  position: absolute;
  right: 24px;
  padding: 0;
  width: 32px;
  height: 32px;
  background: $gray-100;
  transition: all 0.3s;

  &:active {
    background: $gray-light;

    svg {
      color: $gray;
    }
  }
}
