/**
 * Colors
 **/
$black-transparent: rgba(0, 0, 0, 0.5);

$purple: #521e8a;
$purple-medium: #c2a8de;
$purple-light: #e0d3ee;

$red: #de0c00;
$red-100: #ff3b30;

$green: #1dbf8e;
$green-100: #1dbf8e;
$green-light: #d6ffdc;
$green-dark: #00660e;

$teal: #00f1b7;

$gray: #808080;
$gray-100: #888888;
$gray-200: #c4c4c4;
$gray-light: #f5f5f5;
$gray-light-100: #ededed;
$gray-light-200: #dcdcdc85;
$gray-dark: #474747;
$gray-dark-100: #2f2f2f;
$gray-semi: #707070;
$gray-medium: #979797;
$gray-hover: #dedede;
$gray-disabled: #dadada;

/**
 * Shadows
 **/
$shadow-btn: 0px 1px 5px rgba(0, 0, 0, 0.25);
$shadow-tooltip: 0px 0px 5px rgba(0, 0, 0, 0.25);

/**
 * Fonts
 **/
$quicksand: 'Quicksand', sans-serif;
$inter: 'Inter', sans-serif;

/**
 * Other variables
 **/
.d-none {
  display: none !important;
}

/////////////////////////////
// V3.0 Variables
////////////////////////////

/**
 * Fonts
 **/

$rubik: 'Rubik';

/**
 * Font weights
 **/
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/**
 * Colors
 **/

$primary: #2b1d52;
$primary_lighter_1: #473194;
$primary_lighter_2: #6a55a3;
$primary_lighter_3: #8d7db8;
$accent_1: #1a88a3;
$monotone_1: #aaa3d6;
$white: #fff;
$black: #000;
$grey-50: #f2f2f2;
$grey-100: #e6e6e6;
