/**
 * Colors
 **/
$black-transparent: rgba(0, 0, 0, 0.5);

$purple: #521e8a;
$purple-medium: #c2a8de;
$purple-light: #e0d3ee;
$purple-dark: #281b4b;
$purple-dark-2: #37296d;

$yellow-light: #fffaeb;

$orange: #dc6803;

$red: #de0c00;
$red-100: #ff3b30;

$green: #1dbf8e;
$green-100: #039e18;
$green-light: #d6ffdc;
$green-dark: #00660e;

$teal: #00f1b7;

$gray: #808080;
$gray-100: #888888;
$gray-200: #c4c4c4;
$gray-300: #b9b9c0;
$gray-400: #f4f3fb;
$gray-500: #6b7280;
$gray-600: #e0e0e0;
$gray-700: #c2c2c2;
$gray-light: #f5f5f5;
$gray-light-100: #ededed;
$gray-light-200: #dcdcdc85;
$gray-light-300: #f9f9fb;
$gray-dark: #474747;
$gray-dark-100: #2f2f2f;
$gray-dark-200: #575757;
$gray-semi: #707070;
$gray-medium: #979797;
$gray-hover: #dedede;
$gray-disabled: #dadada;

/**
 * Shadows
 **/
$shadow-btn: 0px 1px 5px rgba(0, 0, 0, 0.25);
$shadow-tooltip: 0px 0px 5px rgba(0, 0, 0, 0.25);

/**
 * Fonts
 **/
$quicksand: 'Quicksand', sans-serif;
$inter: 'Inter', sans-serif;

/**
 * Other variables
 **/
.d-none {
  display: none !important;
}

/////////////////////////////
// V3.0 Variables
////////////////////////////

/**
 * Fonts
 **/

$rubik: 'Rubik';

/**
 * Font weights
 **/
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/**
 * Colors
 **/

$primary: #2b1d52;
$primary_lighter_1: #473194;
$primary_lighter_2: #7a56f0;
$primary_lighter_3: #8d7db8;
$accent_1: #1a88a3;
$monotone_1: #b5a9df;
$white: #fff;
$black: #000;
$grey-50: #f2f2f2;
$grey-100: #e6e6e6;
$link-blue: #0052cc;

$gray-50: #f9fafb;
$gray-300: #d1d5db;
$secondary-text: #5a5d6b;
$new-primary: #5925a7;

$new_primary_lighter_1: #7c5bf3;

$warning_background: #fffbeb;
$warning_border: #fcd34d;
$warning_text: #451a03;
$indigo_50: #eef2ff;
$red_700: #b91c1c;
