// Colors
$color-black: #000000;
$color-white: #ffffff;

// Brand Colors
$color-brand-25: #f7f5ff;
$color-brand-50: #e9e5ff;
$color-brand-100: #d4ccff;
$color-brand-200: #b19ff9;
$color-brand-300: #ad99ff;
$color-brand-400: #7252f4;
$color-brand-500: #502cdd;
$color-brand-600: #3f25a7;
$color-brand-700: #2b205b;
$color-brand-800: #1d173b;
$color-brand-900: #171330;
$color-brand-950: #100d21;

// Gray Colors
$color-gray-25: #f9f8fc;
$color-gray-50: #edebf5;
$color-gray-100: #dbd7ea;
$color-gray-200: #c4bfd9;
$color-gray-300: #a9a3c2;
$color-gray-400: #958eae;
$color-gray-500: #77708f;
$color-gray-600: #635e78;
$color-gray-700: #4b465d;
$color-gray-800: #332f41;
$color-gray-900: #25232f;
$color-gray-950: #121117;

// Font Sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
$font-size-3xl: 32px;
$font-size-4xl: 40px;
$font-size-5xl: 48px;

// Line Heights
$line-height-xs: 18px;
$line-height-sm: 20px;
$line-height-base: 24px;
$line-height-lg: 32px;
$line-height-xl: 40px;
$line-height-2xl: 48px;

// Font Weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
