@import '~assets/styles/variables';

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  padding: 30px;
  .progress {
    color: $primary;
  }
  span {
    color: $primary;
    font-size: 80px;
    .percentage {
      font-size: 40px;
    }
  }
}
