@import '~assets/styles/variables';

.icon {
  width: 36px;
  height: 36px;
  background: $gray-light;
  color: $primary;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.spaced {
    margin-right: 12px;
  }

  svg {
    font-size: 22px;
  }
}
