@import '~assets/styles/variables';

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
  padding: 16px 16px;
  box-sizing: border-box;
  background-color: $gray-50;

  .inputContainer {
    height: 56px;
  }

  .input {
    font-size: 16px;
    line-height: 24px;
    font-weight: $regular;
    text-align: right;
    color: $secondary-text;
  }

  label {
    font-family: $inter;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 8px;
    color: $secondary-text;
    display: block;
  }

  .inputLabel {
    min-width: 130px;
  }

  .inputTitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: $medium;
  }

  .menuContainer {
    margin-top: 12px;
  }

  .removeText {
    color: $red;
  }

  .removeWalletContainer {
    margin-top: -8px;
  }

  .titleAddress {
    font-weight: $regular;
    color: $secondary-text;
  }

  .copiedLabel {
    color: $new_primary_lighter_1;
  }

  & > span {
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: 12px;
    font-weight: 500;
    display: block;
    font-family: $inter;
  }

  .actions {
    display: flex;
    flex: 1;
    align-items: flex-end;

    .buttons {
      display: flex;
      flex: 1;
      justify-content: center;
      flex-direction: row;
    }

    .button {
      margin-left: 6px;
      margin-right: 6px;
      width: 150px;
    }

    .save {
      background-color: $new-primary;
    }
  }
}
