@import '~assets/styles/variables';

.wrapper {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .qrcode {
    margin-bottom: 24px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    .address {
      width: 180px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $gray-hover;
      border: 1px solid $gray-100;
      box-sizing: border-box;
      border-radius: 6px;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: $gray-dark;
      user-select: none;
      margin: 0 12px;
      transition: all 0.3s;

      &.copied {
        background: $purple-medium;
        color: $purple;
        border: 1px solid $purple;
      }
    }

    .iconBtn {
      width: 24px;
      height: 24px;

      .icon {
        height: 18px;
        width: auto;
      }
    }
  }
}
