@import "~assets/styles/variables";

.gasSettings {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 73px;

    & > div:nth-child(n + 2) {
      margin-left: 8px;
    }
  }

  .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
      display: flex;
      width: 304px;
      height: 168px;
      background: $gray-light-200;
      border-radius: 16px;
      .content {
        display: flex;
        flex: 1;
        margin: 16px;
        flex-direction: column;

        .header {
          display: flex;
          width: 100%;
          height: 36px;
          // background-color: orange;
          align-items: center;
          & > div {
            display: flex;
            flex: 1;
          }
          .headerLeft {
            // background-color: blue;
            & > span {
              font-family: $inter;
              font-weight: $semibold;
              font-size: 18px;
            }
          }
          .headerRight {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            & > div {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              background-color: $white;
              padding: 8px 16px 8px 16px;
              border-radius: 24px;
              border: 1px solid #cccccc;
              & > span:first-child {
                min-width: 2ch;
                max-width: 4ch;
                margin-right: 8px;
                border: none;
                font-family: $quicksand;
                font-weight: bold;
                font-size: 14px;
                color: $purple;
              }
              & > span:last-child {
                font-size: 14px;
                font-family: $rubik;
                font-weight: $medium;
              }
            }
          }
        }
        .body {
          .body__sliderLabels {
            display: flex;
            flex-direction: row;
            & > div {
              flex: 1;
              font-family: $inter;
              font-size: 12px;
              font-weight: $medium;
              &:last-child {
                display: flex;
                justify-content: flex-end;
              }
            }
          }
        }
        .footer {
          display: flex;
          flex: 1;
          justify-content: flex-end;
          align-items: flex-end;
          .footer__cancelButton {
            margin-right: 8px;
          }
        }
      }
    }
  }
  .updated {
    display: flex;
    justify-content: center;
    .box {
      display: flex;
      width: 304px;
      height: 36px;
      align-items: center;
      background-color: $green-light;
      border-radius: 16px;
      img {
        margin: 0px 10px 0px 18px;
        width: 10px;
        height: 10px;
      }
      span {
        color: $green-dark;
        font-family: $rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
  .cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
      display: flex;
      width: 304px;
      height: 148px;
      background: $gray-light-200;
      border-radius: 16px;
      .content {
        display: flex;
        flex: 1;
        margin: 16px;
        flex-direction: column;
        font-family: $rubik;

        .header {
          font-size: 18px;
          font-weight: $bold;
          margin-bottom: 8px;
        }
        .body {
          font-size: 14px;
          font-weight: $medium;
        }
        .footer {
          margin-top: 8px;
          display: flex;
          justify-content: flex-end;
          & > div:first-child{
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.outlineButton {
  display: flex;
  height: 36px;
  align-items: center;
  justify-content: center;
  border: 2px solid $primary;
  border-radius: 20px;
  box-sizing: border-box;

  & > span {
    margin: 0px 24px 0px 24px;
    font-family: $rubik;
    font-size: 14px;
    font-weight: $bold;
    line-height: 20px;
    color: $primary;
  }
}

.solidButton {
  display: flex;
  height: 36px;
  background-color: $primary;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  & > span {
    margin: 0px 24px 0px 24px;
    font-family: $rubik;
    font-size: 13px;
    font-weight: $bold;
    color: $white;
  }
}

.circleIconButton {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border: 2px solid $primary;
  border-radius: 20px;
}
