@import '~assets/styles/variables';

.wrapper {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;

  .menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $gray-dark;
    height: 24px;
    display: flex;
    padding: 0 12px;
    height: 60px;
    align-items: center;
    transition: all 0.3s;
    background-color: $white;
    cursor: pointer;
    border-bottom: 1px solid $gray-light;
    border-radius: 6px;

    .logo {
      height: 36px;
      width: 36px;
      border-radius: 18px;
      margin-right: 12px;
    }

    .icon {
      background-color: $primary;
    }

    & > span {
      flex-grow: 1;
      font-family: $inter;
    }

    & > svg {
      font-size: 16px;
      color: $gray;
    }

    &:first-child {
      margin-bottom: 24px;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:nth-last-child(2) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:hover {
      background: $gray-light-100;
    }
  }
}
