@import '~assets/styles/variables';

.main {
  ul.accounts {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 12px;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      .account {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .accInfo {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-weight: 600;
          font-size: 18px;
          margin-left: 12px;
          line-height: 24px;
          color: $gray-dark;

          small {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: $gray-semi;
            margin-top: 4px;
          }
        }
      }

      .moreBtn {
        color: $purple;
        width: 30px;
        height: 30px;
      }
    }
  }

  .new {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $gray-dark;
    display: flex;
    height: 24px;
    padding-bottom: 12px;
    align-items: center;
    border-bottom: 1px solid $gray-medium;
  }

  .general {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $gray-dark;
    height: 24px;
    margin: 12px 0;
    display: flex;
    align-items: center;
  }

  .icon {
    width: 24px;
    height: 24px;
    color: $purple;
    margin-right: 12px;
  }
}
