@import '~assets/styles/variables';

.container {
  width: 100%;
  margin-bottom: 14px;

  .title {
    color: $secondary_text;
    font-weight: $medium;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .itemContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: $white;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid $gray-300;
    border-bottom-width: 0px;
    align-items: center;

    .walletIcon {
      display: flex;
      height: 36px;
      width: 36px;
      margin-right: 12px;
      border-radius: 18px;
      align-items: center;
      justify-content: center;
    }
  }

  .disabled {
    opacity: 0.5;
  }

  .firstChild {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .lastChild {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-width: 1px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;

    .subtitle {
      font-size: 12px;
      line-height: 18px;
      font-weight: $medium;
      color: $secondary-text;
    }
  }

  .smallTitle {
    font-size: 14px;
    line-height: 20px;
    font-weight: $medium;
  }

  .largeTitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: $medium;
  }

  .labelRight {
    color: $secondary-text;
    margin-right: 4px;
    align-self: center;
    line-height: 24px;
    font-weight: $regular;
  }

  .arrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
  }
  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
  }

  .checkIcon {
    margin-right: 4px;
  }
}
