@import '~assets/styles/variables';

.container {
  width: 100%;
  height: 520px;
  overflow: auto;
  background-color: $white;

  .amountContainer {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .amountValue {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .amountText {
      margin-left: 8px;
      margin-right: 8px;
    }
  
    .amountMessage {
      margin-top: 10px;
      min-height: 30px;
      text-align: center;

      .loader {
        width: 60px;
        height: 60px;
        transition: all 300ms;
        opacity: 1;
      }
    }
  }

  .providerContainer {
    height: 22%;
    padding: 0px 16px 0px 16px;

    .providerCard {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 12px;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      background-color: $white;
      padding: 16px 24px 16px 24px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  
    }

    .providerText {
      margin-left: 16px;
    }
  }

  .numpadContainer {
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .numPadItem {
      width: 33.33%;
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .buttonContainer {
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .confirmButton {
    width: 300px;
  }
}
