@import '~assets/styles/variables';

.wrapper {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: $white;

  .frame {
    width: 100%;
    height: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;

    section.heading {
      display: flex;
      background: $gray-light;
      width: 100%;
      height: 72px;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 24px;
    }

    .row {
      color: $black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      font-size: 16px;
      padding: 0 24px;
      box-sizing: border-box;
      font-weight: 500;
    }

    label {
      color: $gray-100;
      font-size: 16px;
      width: 100%;
      display: block;
      font-weight: 500;
      text-align: center;
      margin: 12px 0;
      margin-top: 60px;
    }

    section.message {
      padding: 12px 24px;
      display: flex;
      color: $black;
      font-size: 16px;
      line-height: 42px;
      font-weight: 500;
      flex-direction: column;
      border-top: 1px solid $gray-light;
      border-bottom: 1px solid $gray-light;

      & > span {
        line-height: 24px;
        color: $gray-100;
      }
    }

    section.content {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 24px;
      box-sizing: border-box;

      .row {
        padding: 0;
        margin-bottom: 8px;
        color: $gray-100;
      }
    }

    section.actions {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 36px;
      bottom: 32px;
      position: absolute;
      box-sizing: border-box;

      .close,
      .close:hover {
        background: $gray-light;
        color: $gray-dark;
      }

      .button {
        width: 144px;
      }
    }
  }
}
