@import '~assets/styles/variables';

.inputContainer {
  margin-top: 32px;
  margin-bottom: 10px;
}

.input {
  margin-top: 8px;
}

.errorContainer {
  display: flex;
  align-items: center;
  height: 22px;
  padding-left: 8px;
}

.buttonsContainer {
  display: flex;
  height: 100%;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;

  :first-child {
    margin-right: 6px;
  }

  :last-child {
    margin-left: 6px;
  }
}

.button {
  width: 100%;
}
