@import '~assets/styles/variables';

.container {
  height: 460px;
  width: 100%;

  .assetList {
    overflow: auto;
  }

  .listContainer {
    margin: 16px 16px 0px 16px;

    .subtitle {
      margin-bottom: 16px;
      margin-top: 8px;
    }
  }

  .progressContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .searchContainer {
    background-color: $primary;
    padding: 0px 16px 16px 16px;

    .searchInput {
      border-color: $primary_lighter_1;
    }
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
