@import '~assets/styles/variables';

.wrapper {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;

  .menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $gray-dark;
    height: 24px;
    display: flex;
    padding: 0 12px;
    height: 60px;
    align-items: center;
    transition: all 0.3s;
    background-color: $white;
    cursor: pointer;
    border-bottom: 1px solid $gray-light;
    border-radius: 6px;
    margin-bottom: 12px;

    .icon {
      background-color: $primary;
    }

    & > span {
      font-family: $inter;
      flex-grow: 1;
    }

    & > svg {
      font-size: 16px;
      color: $gray;
    }

    &:hover {
      background: $gray-light-100;
    }
  }
}
