@import '~assets/styles/variables';

.txItem {
  display: flex;
  background-color: $white;
  flex: 1;
  flex-direction: column;
  width: 100%;

  .groupBar {
    display: flex;
    align-items: center;
    padding: 8px 16px 0px 16px;
    border-top: 0.5px solid rgba(0, 0, 0, 0.24);
  }

  .content {
    display: flex;
    flex-direction: row;
    padding: 12px 16px;

    .txIcon {
      display: flex;
      align-items: center;
    }

    .txInfo {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
    }

    .txAmount {
      display: flex;
      flex: 1;
      flex-direction: column;
      text-align: right;
      align-items: flex-end;
      justify-content: center;
    }
  }
}
