@import '~assets/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  padding: 16px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  margin-top: 48px;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 16px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.viewTxButton {
  margin-bottom: 16px;
}
