@import "~assets/styles/variables";

.main {
  display: flex;
  background-color: $primary;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  overflow: auto;

  .box {
    width: 100%;
    height: 288px;
    background: $grey-50;
    border-radius: 8px;

    .content {
      margin: 16px;
      cursor: pointer;
      .settingsItemIconWrapper {
        display: flex;
        height: 100%;
        width: 72px;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .iconCircle {
          display: flex;
          width: 48px;
          height: 48px;
          justify-content: center;
          align-items: center;
          background-color: $primary;
          border-radius: 24px;

          img {
            width: 32px;
            height: 32px;
          }
        }
      }

      .settingsItemLabelWrapper {
        display: flex;
        flex: 1;
        align-items: center;
      }
    }
  }

  .footer {
    display: flex;
    flex: 1;
    align-items: flex-end;
    margin: 16px;
    .footer__left {
      display: flex;
      flex: 1;
      align-items: center;
      cursor: pointer;
      img {
        margin-right: 10px;
      }
    }
    .footer__right {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      img {
        margin-left: 8px;
      }
    }
  }
}
