@import '~assets/styles/variables';

.main {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  overflow: auto;

  .box {
    width: 100%;
    background: $grey-50;

    .content {
      margin: 16px;
      cursor: pointer;
      .settingsItemIconWrapper {
        display: flex;
        height: 100%;
        margin-left: 16px;
        margin-right: 16px;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .iconCircle {
          display: flex;
          width: 48px;
          height: 48px;
          justify-content: center;
          align-items: center;
          background-color: $primary;
          border-radius: 24px;

          img {
            width: 30px;
            height: 30px;
          }

          .linkedIconImage {
            width: 20px;
            height: 20px;
          }
        }
      }

      .infoContainer {
        display: flex;
        flex-grow: 1;
      }

      .settingsItemLabelWrapper {
        display: flex;
        flex: 1;
        align-items: center;

        .label {
          font-size: 16px;
        }
      }

      .arrowRightContainer {
        display: flex;
        align-items: center;
        margin-right: 24px;
      }
    }
  }

  .footer {
    display: flex;
    flex: 1;
    align-items: flex-end;
    margin: 16px;
    .footer__left {
      display: flex;
      flex: 2;
      min-height: 32px;
      align-items: center;
      cursor: pointer;
      img {
        margin-right: 8px;
      }
    }
    .footer__right {
      display: flex;
      flex: 1;
      min-height: 32px;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      img {
        margin-left: 8px;
      }
    }
  }
}
