@import "~assets/styles/variables";

.txItem {
  display: flex;
  background-color: $white;
  flex: 1;
  flex-direction: column;
  width: 100%;

  .groupBar {
    display: flex;
    align-items: center;
    height: 36px;
    background: $grey-50;
    color: $black;

    span {
      margin-left: 24px;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    margin: 16px 24px 16px 24px;
    .txIcon {
      display: flex;
      color: $gray-100;
      align-items: center;
      .iconCircle {
        display: flex;
        width: 48px;
        height: 48px;
        margin-right: 16px;
        border-radius: 24px;
        background-color: $primary;
        align-items: center;
        justify-content: center;

        img.recvIcon {
          transform: scaleX(-1);
        }
      }

    }

    .txInfo {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;

      div:last-child span{
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: $gray;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: auto;
        width: 96px;
        text-align: right;
        display: inline-block;
        overflow: hidden;
      }
    }

    .txAmount {
      display: flex;
      flex: 1;
      flex-direction: column;
      text-align: right;
      align-items: flex-end;

      span:last-child {
        font-weight: 500;
        font-size: 12px;
        text-align: right;
        line-height: 18px;
        color: $gray;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: auto;
        width: 96px;
        display: inline-block;
        overflow: hidden;
      }
    }

    .txExplorerIcon {
      width: 60px;
      display: flex;
      color: $gray-dark;
      box-sizing: border-box;
      transition: all 0.3s;

      .circle {
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: transparent;
      }

      svg {
        font-size: 16px;
      }
    }

    &:hover > .txExplorerIcon > .circle {
      background-color: $gray-200;
      transition: all 0.3s;
    }
  }
}
