@import '~assets/styles/variables';

.home {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: 100%;
  background: $primary;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;

  .title {
    margin-top: 24px;
  }

  .logo {
    margin-top: 36px;
    margin-bottom: 48px;
    width: 192px;
  }

  .createWalletButton {
    width: 264px;
  }

  .createWalletButtonText {
    font-weight: $semibold;
    font-size: 16px;
    line-height: 24px;
  }

  .restoreButton {
    width: 264px;
    border-width: 2px;
    margin-top: 16px;
  }

  .restoreButtonText {
    font-weight: $semibold;
    font-size: 16px;
    line-height: 24px;
    color: $white;
  }
}
