@import '~assets/styles/variables';

.home {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: 100%;
  background: $primary;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  box-sizing: border-box;
  .logo {
    margin-top: 56px;
    margin-bottom: 56px;
    width: 192px;
    height: 192px;
  }
  .started {
    margin-bottom: 56px;
  }
}
