@import '~assets/styles/variables';

.wrapper {
  margin-top: 72px;
  height: 528px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .heading {
    background: $gray-light;
    width: 100%;
    height: 108px;
    display: flex;
    align-items: center;
    padding: 20px 34px;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .content {
    background: $white;
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .create {
      margin-bottom: 12px;
    }

    .import {
      margin-bottom: 30px;
    }
  }
}
