@import '~assets/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 170px;
  padding: 16px;
  border: 1px solid $gray-300;
  border-radius: 8px;

  .typeText {
    font-weight: 600;
    margin-bottom: 4px;
  }

  .valueText {
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
  }
}
