@import '~assets/styles/variables';

$icon-margin-left: 12px;

div.assetItem {
  width: 352px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    backdrop-filter: blur(10px);
    background-color: $gray-light;
    border-radius: 8px;
  }

  .assetIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid $grey-100;
    margin-left: $icon-margin-left;
    min-width: 40px;

    img {
      width: 20px;
    }
  }

  .assetName {
    margin-left: 8px;
    width: 100%;

    .labelText {
      letter-spacing: -0.3px;
    }

    span:first-child {
      margin-bottom: 8px;
      margin-right: 8px;
    }

    .red {
      color: $red-100;
    }
    .green {
      color: $green-100;
    }
  }

  .assetBalance {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 12px;

    .balanceText {
      overflow: hidden;
      text-align: right;
      letter-spacing: -0.3px;
    }
  }
}
