@import '~assets/styles/variables';

.toast {
  cursor: pointer;
  background-color: $purple;
  width: 368px;
  box-sizing: border-box;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 40px;

  .message {
    white-space: pre-line;
  }

  &.error {
    background-color: $red-500;
  }

  .icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }
}

:global(div#__react-alert__) {
  & > div {
    z-index: 9999 !important;
  }
}
