@import '~assets/styles/variables';

.headerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  span {
    font-family: $inter;
    color: $white;
    font-weight: $medium;
    font-size: 24px;
    margin-left: 8px;
  }
}
