@import '~assets/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;

  .title {
    font-weight: 600;
    margin-bottom: 8px;
  }

  .cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-radius: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    background-color: $white;
    padding: 0px 16px;
  }
}
