@import '~assets/styles/variables';

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    margin-left: 16px;
    margin-right: 16px;
    cursor: pointer;
  }

  .label {
    font-weight: $semibold;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-bottom: 4px;
    border: 1.5px solid rgba(255, 255, 255, 0.24);
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.08) 100%
      ),
      #5b36d3;
  }
}
