@import "~assets/styles/variables";

.home {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: 100%;
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;

  .logo {
    margin-top: 36px;
    margin-bottom: 48px;
    width: 212px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  .inputWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    .password {
      margin-bottom: 10px;
    }
    .errorWrapper span {
      color: white;
      font-size: 12px;
    }
  }
}
