@import '~assets/styles/variables';

.fullselect {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 60px;
  transition: all 300ms;

  .selected {
    width: 100%;
    height: 36px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    span.main {
      display: flex;
      flex-direction: row;
      transition: all 0.3s;
      align-items: center;

      .logoWrapper {
        height: 30px;
        width: 39px;
        border-radius: 50%;
        border: 2px solid $gray-light;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .address {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 100%;
        font-family: $quicksand;
        font-weight: bold;
        font-size: 18px;  
        line-height: 24px;
        color: $white;
        transition: all 0.3s;
        cursor: pointer;

        &.active {
          color: $gray-light;

          small {
            color: $gray-light;
          }
        }

        small {
          font-size: 12px;
          line-height: 10px;
          font-weight: 500;
          font-family: $quicksand;
          margin-top: 2px;
          margin-left: 0;
          color: $white;
          transition: all 0.3s;
        }
      }
    }
  }

  ul.options {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 300ms;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    width: 100%;
    top: 60px;
    background: rgba($white, 0.8);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid $gray-dark;
    overflow: auto;
    max-height: 468px;
    z-index: 10;
  }
}
