@import '~assets/styles/variables';

.logoWrapper {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    height: 32px;
    width: 32px;
    border-radius: 16px;
  }
}
