@import '~assets/styles/variables';

.tabItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .tabActiveItemLine {
    height: 4px;
    width: 120px;
    position: absolute;
    top: 0;
    background-color: #775AED;
  }
}
