@import '~assets/styles/variables';

.wallets {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  overflow: auto;

  label {
    font-size: 10px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 12px;
    display: block;
    text-transform: uppercase;
    font-family: $inter;
  }

  .group {
    .wallet {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      font-family: $inter;
      color: $gray-dark;
      height: 24px;
      display: flex;
      padding: 0 12px;
      height: 60px;
      align-items: center;
      transition: all 0.3s;
      background-color: $white;
      border-bottom: 1px solid $gray-light;
      position: relative;

      .iconContainer {
        display: flex;
        background-color: 'orange';
        border-left: 1px solid $gray-light;
        padding-left: 10px;
      }

      & > span {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }

      .icon {
        background-color: $primary;
        border-radius: 25px;
        margin-right: 10px;
      }

      &:first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }

      &:last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom: 0;
      }
    }
  }

  .details {
    width: 32px;
    height: 32px;
    color: $gray-100;
  }

  .noSitesConnected {
    background-color: $white;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}
