@import '~assets/styles/variables';

body {
  .button {
    padding: 8px 54px;
    font-family: $quicksand;
    font-weight: $semibold;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: none;
    border-radius: 6px;
    line-height: 20px;
    box-shadow: $shadow-btn;

    &.primary {
      background: $purple;
      color: $white;

      &:hover {
        background: $purple;
        color: $white;
      }
    }

    &.secondary {
      background: $teal;
      color: $purple;

      &:hover {
        background: $teal;
        color: $purple;
      }
    }

    &.block {
      font-size: 24px;
      line-height: 24px;
      font-weight: $medium;
    }
  }
}
