@import '~assets/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  height: 100%;

  .heading {
    height: 144px;
    width: 100%;
    padding: 24px 36px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
    background: $gray-light;
    border-bottom: 1px solid $gray-medium;

    .title {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: $gray-dark;
    }

    .qrcode,
    .qrcode:hover {
      background: transparent;
      min-width: initial;
      position: absolute;
      box-shadow: none;
      top: 0;
      right: 0;
      width: 48px;
      height: 48px !important;
      padding: 0;

      img {
        margin: 0;
      }
    }

    .statusIcon {
      position: absolute;
      opacity: 1;
      top: 18px;
      left: 12px;
      z-index: 1;
      transform: scale(1);
      transition: all 0.3s;

      &.hide {
        opacity: 0;
        transform: scale(0);
      }
    }

    .address {
      transition: all 0.3s;

      input {
        transition: all 0.3s;
        padding-right: 36px;
      }

      &.verified {
        color: $purple;

        input {
          padding-left: 24px;
        }
      }
    }
  }

  .inputWrapper {
    position: relative;
    width: 100%;
    display: block;
  }

  .input {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 48px;

    input {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .label {
    width: 100%;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 12px;
    color: $gray-dark;
  }

  .content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 36px;
    padding-bottom: 24px;
    position: relative;

    .balance {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      small {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.03em;
      }
    }

    .amount {
      padding-right: 72px;
      margin-bottom: 24px;
    }

    .max {
      position: absolute;
      box-shadow: none;
      min-width: initial;
      top: 12px;
      right: 12px;
      width: 48px;
      height: 24px !important;
      padding: 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }

    .description {
      margin-top: 24px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    .actions {
      display: flex;
      position: absolute;
      width: 300px;
      bottom: 24px;
      justify-content: space-between;

      .close {
        background: $gray-disabled;
        color: $gray-dark;
      }

      .button {
        width: 144px;
      }
    }
  }
}
