@import '~assets/styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  height: 100%;

  section.subheading {
    height: 60px;
    width: 100%;
    margin-top: 72px;
    border-bottom: 1px solid $gray-100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $gray-dark;
  }

  section.balance {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    color: $gray-dark;

    span {
      font-size: 16px;
    }
  }

  .input {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 48px;
    width: 168px;
    border: none !important;
    background: transparent;
    border-radius: 0;
    padding: 0;
    transition: all 0.3s;

    &.fee {
      width: 132px;
    }

    input {
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      transition: all 0.3s;
    }
  }

  section.content {
    width: 100%;
    height: 408px;
    box-sizing: border-box;
    padding: 0 36px;
    padding-bottom: 24px;
    position: relative;

    ul.form {
      list-style: none;
      margin: 0;
      padding: 0 12px;
      background: $gray-light;
      border-radius: 10px;

      li {
        height: 60px;
        border-bottom: 1px solid $white;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &:last-child {
          border-bottom: none;
        }

        label {
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          margin-top: 12px;
          text-transform: uppercase;
          color: $gray-100;
        }

        .textBtn {
          background: transparent;
          min-width: initial;
          position: absolute;
          box-shadow: none;
          top: 14px;
          right: 48px;
          height: 32px !important;
          font-weight: 500;
          font-size: 10px;
          color: $purple;
          padding: 12px;
          width: fit-content;
          text-transform: uppercase;
        }

        .address {
          &.verified {
            color: $purple;

            input {
              padding-left: 24px;
            }
          }
        }

        .qrcode,
        .qrcode:hover {
          background: transparent;
          min-width: initial;
          position: absolute;
          box-shadow: none;
          top: 0;
          right: 0;
          width: 60px;
          height: 60px !important;
          padding: 0;

          img {
            margin: 0;
          }
        }

        .statusIcon {
          position: absolute;
          opacity: 1;
          top: 36px;
          left: 6px;
          z-index: 1;
          transform: scale(1);
          transition: all 0.3s;

          &.hide {
            opacity: 0;
            transform: scale(0);
          }
        }
      }
    }

    .status {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 12px;
      justify-content: space-between;

      .equalAmount {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: $gray-100;
      }

      .error {
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: $red;
      }
    }

    .description {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $gray-dark;
      margin-top: 24px;
    }

    .actions {
      display: flex;
      position: absolute;
      width: 300px;
      bottom: 24px;
      justify-content: space-between;

      .close {
        background: $gray-light;
        color: $gray-dark;
      }

      .button {
        width: 144px;
      }
    }
  }
}
