@import '~assets/styles/_variables';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  margin: 16px;

  .dataRow {}

  .dataValue {
    display: flex;
    width: 350px;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid $gray-300;
    align-items: center;
    border-radius: 4px;
    background-color: $gray-400;
  }

  .dataValueText {
    text-overflow: ellipsis;
    margin-left: 16px;
    margin-right: 38px;
  }

  .transactionFeeInput {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 16px;
  }

  .transactionFeeTextField {
    display: flex;
    flex: 1;
    font-size: 16px;
  }

  .transactionFeeRecommend {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 16px;
  }

  .recommendedFeeInput {
    font-size: 16px;
  }

  .nextButton {
    display: flex;
    flex: 1;
    align-items: flex-end;
  }

  .gasPriceContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    background-color: $white;
    border: 1px solid $gray-200;
    border-radius: 6px;

    .gasPriceHeader {
      display: flex;
      flex-direction: row;
      margin: 0px 16px 0px 16px;
      align-items: center;

      .gasPriceHeaderLeft {
        display: flex;
        flex: 1;
        align-items: center;
        margin-top: 10px;
      }

      .gasPriceHeaderRight {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;

        .gasSpeedBox {
          display: flex;
          height: 35px;
          border: 1px solid $gray-300;
          flex-direction: row;
          border-radius: 8px;
          align-items: center;

          .gasSpeedBoxRight {
            margin-right: 15px;
          }

          .gasSpeedBoxLeft {
            margin-left: 15px;
            margin-right: 8px;
          }
        }
      }
    }

    .gasLoadingIndicator {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }

    .gasPriceFooter {
      margin: 25px 30px 0px 30px;
    }
  }

  .gasEstimateLabel {
    margin-top: 7px;
  }
}