@import '~assets/styles/variables';

.container {
  flex-direction: column;
  padding: 24px 16px;
  overflow: auto;
  height: 472px;
}

.title {
  font-size: 20px;
}

.buttonContainer {
  margin-top: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdownContainer {
  margin-top: 12px;
}

.itemContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.button {
  width: 358px;
}

.errorLabel {
  margin-top: 20px;
}

.phraseInputContainer {
  margin-bottom: 8px;
}
