@import '~assets/styles/variables';

.sheetContainer {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 16px;

  .sheetHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .headerCloseButton {
      cursor: pointer;

      .closeIcon {
        height: 16px;
        width: 16px;
      }
    }
  }

  .sheetContent {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
  }

  .closeButton {
    margin-top: 24px;
  }
}

:root {
  --rsbs-bg: #f9f9fb;
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.2);
}
